<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function() {
            $("#submitBtn").click(function() {
                $.ajax({
                    type: "POST",
                    url: "/catalog?category=1",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        let products = data.map(product => {
                            let pictures = product.pictures.map(picture => picture.path);
                            return { name: product.name, pictures, price: product.price, quantity: product.quantity };
                        });
                        $("#result").text(JSON.stringify(products));
                    },
                    error: function(xhr, status, error) {
                        alert("Произошла ошибка: " + error);
                    }
                });
            });
        });
    </script>
</head>
<body>

<button id="submitBtn">Отправить запрос</button>
<div id="result"></div>

</body>
</html>